.center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
}
.card{
  min-width: 200px;
}
/* media esempio
@media(max-width: 900px){

  .weather{
    justify-content: center;
    padding-top: 20px;
  }
}
*/
