<div class="bg-light pt-3 pb-3">
  <div class="w-100">
    <div class="text-right">

    <!--
      <button class="btn btn-primary mb-3" [routerLink]='["/filterdouble"]'>Filter Double</button>
      <button class="btn btn-primary mb-3" [routerLink]='["/sortingbydeath"]'>Sort by death</button>
    -->

    </div>

    <table class="table">
      <tbody>
        <tr class="pointer" *ngFor="let entry of contactsData ; let i = index" (click)="goToDetails(entry.id)">

          <td>{{entry.id}}</td>
          <td> <img src="{{entry.imgURL}}" class="rounded-circle" width="70"></td>
          <td>{{entry.firstName}} {{entry.lastName}} <br><br> {{entry.phone}} <br>{{entry.company}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!--
<app-loading-screen *ngIf="!moviesDataLoader" ></app-loading-screen>
-->
